<div class="flex flex-column" *ngIf="!showSpinner">
    <div class="col">
        <span class="text-lg mb-4">Login</span>
    </div>

    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" type="text" [(ngModel)]="user.userName">
    </mat-form-field>

    
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" type="password" [(ngModel)]="user.password">
    </mat-form-field>

    <button mat-button mat-flat-button color="primary" (click)="validateUser()">
        Ingresar
    </button>
</div>
<mat-spinner *ngIf="showSpinner"></mat-spinner>