<div class="flex flex-column">
    <div class="col">
        <span class="text-lg mb-4">Login</span>
    </div>

    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" type="text">
    </mat-form-field>

    
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" type="password">
    </mat-form-field>

    <button mat-button mat-flat-button color="primary">
        Ingresar
    </button>
</div>
